################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SoccerStats/v15/Server/sqlite3
/SoccerStats/bin/Debug
/SoccerStats/obj/Debug
/SoccerStats/Result20181116_115014.csv
/SoccerStats/Source.txt
